@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.service{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:white;
    padding-bottom:3rem;
}
.body{
background:white;

}


.content-box{
    display: flex;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 3rem;
     flex-wrap: wrap;
    justify-content: center;
   /* display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;*/
}
.card{
    min-height: 200px;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(.jpeg);
    transition: 0.3s;
}

.card i{
    margin: 20px;
    color: #592c5f;
    font-size:3rem;
}
.card h2{
    color:#592c5f;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.card p{
    color: black;
    font-weight: 400;
    font-size:1rem;

    font-family: 'Poppins', sans-serif;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
    color:black;
}
.card:nth-child(1):hover{
    /*background: linear-gradient(45deg,
                               rgba(195, 141, 202, 0.8)0%,
                               rgba(195, 141, 202, 0.8)100%),
                               url(roses.png);*/
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    background-size: cover;
     box-shadow: 0 .5rem 1rem rgba(89, 44, 95);

}
.card:nth-child(2):hover{
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(5):hover{
   background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
   box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(7):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(8):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}
.card:nth-child(9):hover{
    background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(images/roses.png);
    box-shadow: 0 .5rem 1rem rgba(89, 44, 95);
    /*background: linear-gradient(45deg,
                                   rgba(195, 141, 202, 0.8)0%,
                                   rgba(195, 141, 202, 0.8)100%),
                                   url(roses.png);*/
    background-size: cover;
}

@media(max-width:991px)
{
    .service{
        padding: 25px;
    }
    .service h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;

    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}

.content{
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.content h2{

    font-size: 3rem;
    padding: 0.5rem 0;
    letter-spacing: 4px;
    color:#592c5f;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 200px;
    background: #592c5f;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
    padding-bottom:4rem;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #592c5f;
    border-radius: 50%;
}
text
.contact-bg .text{
    margin: 1.6rem 0;
    align:justify;
    color:black;
}
/* home */
section{
    padding: 50px;
}

.home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    /*background: linear-gradient(45deg,
                                   rgba(134, 109, 165,0.8)0%,
                                   rgba(134, 109, 165,0.8)100%),
                                   url(10.jpg);*/
    /*background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(2.jpeg);*/
    /*background: linear-gradient(45deg,rgba(89, 44, 95,0.8)0%,rgba(89, 44, 95,0.8)100%),url(yibo.jpg);*/
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),url(images/cs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;

}


.home .thae h2{
   font-size:3rem;
      font-weight:800;
      color:white;
      text-align: center;
      text-transform: none;
}
h1{
   font-size:2rem;
   font-weight:300;
   color:white;
   text-align: center;
   text-transform: none;
}
.menu1 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
.menu1 .row .image{
    margin: 1.6rem;
    padding:1.6rem;
    flex: 1 1 40rem;
    border-radius: 1rem;
}
.menu1 .row .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.menu1 .row .content{
    flex: 1 1 40rem ;
}

.menu1 .row .content h3{
    font-size: 2.5rem;

    color: #592c5f;
    padding:1rem 0;
    margin: 2rem ;

}

.menu1 .row .content p{
    font-size: 1.3rem;
    color:black;

    padding: 1rem;
    margin: 2rem;
    line-height: 1.6;
    text-align: justify;
}
.yuya1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}
.yuya1 .image{
    margin: 0.5rem;
    flex: 1 1 40rem;

    border-radius: 1rem;
    background:white;
    padding-right:3rem;

}
.yuya1 .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;

}
.yuya1 .yuya2{
    flex: 1 1 40rem ;
}
.yuya1 .yuya2 h3{
    /*font-size: 3rem;
    color:#592c5f;
    padding:1rem 0;
    padding-left:3rem;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;*/
     font-size: 2rem;
         color:#592c5f;
         padding:1rem 0;
         padding-left:3rem;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
}
.yuya1 .yuya2 p{
    /*font-weight:600;
    font-size: 1.6rem;
    color:#592c5f;
    padding:1rem 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-align: justify;
    padding-left:3rem;*/
    /*font-family: 'Poppins', sans-serif;
    color:#592c5f;
    padding-left:3rem;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    text-transform: none;
}*/
font-family: 'Poppins', sans-serif;
        color:#443F3D;
        padding-left:3rem;
        margin-bottom: 12px;
        font-weight: 100;
        font-size: 1.1rem;

        padding-right:3rem;
    text-transform: none;
        text-align: justify;
}
.button1{
    position: relative;
    display: inline-block;
    margin: 50px;
    padding:15px 30px;
    background:  #592c5f;
    border: .9px solid #111;
    color:#fff;
    text-decoration: none;
    transition: 0.5s;
}

.button1:hover{
    background-color: #fff;

    color:  #592c5f;
    border: 1px solid #592c5f;
}
/* .button1{
 display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #592c5f;
  padding: 12px 34px;
  font-size: 13px;
  background: #592c5f;
  position: relative;
  cursor: pointer;

}
.button1:hover{
  border: 1px solid #592c5f;
  background: #fff;
  color: #592c5f;
  transition: 1s;
}
/* NAVIGATION */
nav{
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
  z-index: 999;
}
nav img{
  width: 170px;
  cursor: pointer;
}
nav .navigation{
  display: flex;

}
nav .navigation ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li{
  list-style: none;
  margin-left: 30px;
}
nav .navigation ul li a{
  text-decoration: none;
  color: rgb(21,21,100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover{
  color: #a83e92;
}
#menu-btn{
  width: 30px;
  height: 30px;
}
/* The toggle - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.form h3{
  colar: black;
}
/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#menu-btn{
  width: 30px;
  height: 30px;
  display: none;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.signuptext{

}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */
footer{
  background-color:#592c5f ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
}
footer .footer-co1{
  padding-bottom: 40px;
}
footer h3{
  color: rgb(241,240,245);
  font-weight: 600;
  padding-bottom: 24px;
}
footer li{
  list-style: none;
  color: #fff;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;

}
footer a {
  text-decoration: none;
}
footer li:hover{
  color: rgb(241,240,245);
}
footer p{
  color: #fff;
}
footer .subscribe{
  margin-top: 20px;
}
footer input{
  width: 220px;
  padding: 15px 12px;
  background: #334F6C;
  outline: none;
  color: #fff;
}
footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 15px;
  background-color: #fff;
  font-weight: 600;

}
footer a.purple{
  color: #fff;
  background: #a83e92;
  transition: 0.3s ease;
}
footer a.purple:hover{
  color: rgb(21, 21, 100);
  background:#fff;
}


footer .copyright{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright p{
  color: #fff;
}
footer .copyright .pro-links{
  margin-top: 10px;
}
footer .copyright .pro-links i{
  background-color: #5f7185;
  color: #fff;
  font-size: 30px;
}
footer .copyright .pro-links i:hover{
background-color: #a83e92;
color: #592c5f;
}

#menu-btn{
  width: 30px;
  height: 30px;
}
#menu-close{
  display: none;
}

/* Responsive */
@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav img{
  width:130px;
  }
  #menu-btn{
  display: initial;
  }
  #menu-close{
  display: initial;
  font-size: 1.6rem;
  color: #fff;
  padding: 30px 0 20px 20px;
  }
  nav .navigation ul{
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: linear-gradient(rgba(0,10,0,0.3),rgba(0,0,0,0.2));
    backdrop-filter: blur(4.5px);
    border: 1px  solid rgba(255,255,255,0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .navigation ul.active{
  right: 0;
  }
  nav .navigation ul li{
  padding: 20px 0 20px 40px;
  margin-left: 0;
  }
  nav .navigation ul li a{
  color: #fff;
  }
}
